<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
		<servlet-name>Root</servlet-name>
		<servlet-class>assignment2914075.RootServlet</servlet-class>
	</servlet>
	
	<servlet>
	    <servlet-name>Directory</servlet-name>
	    <servlet-class>assignment2914075.DirectoryServlet</servlet-class>
	</servlet>
	
	<servlet>
	    <servlet-name>Files</servlet-name>
	    <servlet-class>assignment2914075.FilesServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Root</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>Directory</servlet-name>
	    <url-pattern>/directory</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>Files</servlet-name>
	    <url-pattern>/files</url-pattern>
	</servlet-mapping>
</web-app>